<div class="row">
<% unless current_user %>
	<div class="large-4 large-centered columns">
		<%= image_tag "FB-f-Logo__blue_100.png"%>
	</div>
	<div class="large-10 large-centered columns">
		<p><%= link_to "Primeiro entre com sua conta do Facebook", "/auth/facebook", id: "sign_in" %></p>
	</div>
<% else %>	
	<% if evento.usuario_aprovado?(current_user)%>
		<%=  button_to 'Confirmar Presença', {method: :post, action: :confirma_presenca_evento, id: evento}, class: "button [tiny small large]" %>
	<% else %>
		<%=  button_to 'Não vou mais', {method: :post, action: :desconfirmar_presenca_evento, id: evento}, class: "button [tiny small large]" %>
	<% end %>
<% end %>
</div>
<div class="row">
	<ul class="small-block-grid-6">
		<h5><strong>Confirmados</strong></h5>
		<% evento.confirmas.each do |f| %>
		  <li>
				<%= image_tag f.user.facebook_imagem_url, "data-tooltip" => "" ,class: "has-tip", title: f.user.name %>
			</li>
		<% end %>
	</ul>
</div>