<%= form_for(@evento, :html => {:multipart => true}) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="row">
		<div class="large-12 columns">
      <label>Nome do evento
				<%= f.text_field :nome, class: "large-12.columns" %>
      </label>
    </div>
  </div>
	
	<div class="row">
		<div class="large-12 columns">
      <label>E-mail para contato
				<%= f.text_field :email_para_contato, class: "large-12.columns" %>
      </label>
    </div>
  </div>
	
	<div class="row">
		<div class="large-6 columns">
      <label>Quando?
				<%= f.text_field :data, class: "large-12.columns span2", id: "dp"  %>
      </label>
    </div>
		
		<div class="large-6 columns">
      <label>Termina?
				<%= f.text_field :data_terminio, class: "large-12.columns span2", id: "dp2" %>
      </label>
    </div>
  </div>
	
	<div class="row">
		<div class="large-6 columns">
      <label>Estado
				<%= f.collection_select :estado_id, Estado.all, :id, :nome, :include_blank => "Seleciona um Estado"%>
      </label>
    </div>
		
		<div class="large-6 columns">
      <label>Cidade
				<%= f.collection_select :cidade_id, [], :id, :nome, include_blank: "Seleciona uma Cidade" %>
      </label>
    </div>
  </div>
	
	<div class="row">
		<div class="large-12 columns">
      <label>Descricao
				<%= f.text_area :descricao, class: "large-12.columns" %>
      </label>
    </div>
  </div>
	
	<div class="row">
		<div class="large-12 columns">
      <label>Site
				<%= f.text_field :site, class: "large-12.columns" %>
      </label>
    </div>
  </div>
	
	<div class="row">
		<div class="large-12 columns">
      <label>Facebook
				<%= f.text_field :facebook, class: "large-12.columns" %>
      </label>
    </div>
  </div>
	
	<div class="row">
		<div class="large-12 columns">
      <label>Logo
				<%= f.file_field :logo, class: "large-12.columns" %>
      </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button [radius round]" %>
  </div>
<% end %>