<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% @evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :email_para_contato %><br>
    <%= f.text_field :email_para_contato %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
		<input type="text" class="span2" value="02-16-2012" id="dp1">
  </div>
  <div class="field">
    <%= f.label :data_terminio %><br>
    <%= f.date_select :data_terminio %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_area :descricao %>
  </div>
  <div class="field">
    <%= f.label :site %><br>
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
