<h2>Próximos Eventos</h2>
<div class="eventos">
<% @eventos.aprovados_por_data.each do |evento| %>
	<div class="large-2 columns small-3">
		<div class="data">
			<p class="data_evento"><%= evento.data.day %></p><small><%= Date::MONTHNAMES[evento.data.month]%></small>
		</div>
	</div>
	
	<div class="large-2 columns small-3">
		<% if evento.logo? %>
			<%= image_tag(evento.logo_url) %>
		<% else %>
			<%= image_tag "http://placehold.it/80x80&text=No Image" %>
		<% end %>
	</div>
	
	<div class="large-8 columns">
		<p><strong><%= link_to evento.nome, evento %></strong><br/><%= evento.descricao %></p>
		<ul class="inline-list">
			<li><a href=""></a></li>
			<li><a href="#" data-reveal-id="myModal">Eu Vou!</a></li>
		</ul>
	</div>
	<hr/>

<div id="myModal" class="reveal-modal small" data-reveal>
	<% if current_user %>
		<%= render partial: "eventos/facebook", locals: {evento: evento, user: current_user.id}%>
	<% else %>
		<%= render partial: "eventos/facebook" %>
	<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
<% end %>
</div>

