<h2>Palestras</h2>
<div class="eventos">
<% if @eventos.empty? %>
<p>Nenhum evento cadastrado</p>
<% else %>
	<% @eventos.each do |evento| %>
		<div class="large-2 columns small-3">
			<div class="data">
				<p class="data_evento"><%= evento.data.day %></p><small><%= Date::MONTHNAMES[evento.data.month]%></small>
			</div>
		</div>
	
		<div class="large-2 columns small-3">
			<% if evento.logo? %>
				<%= image_tag(evento.logo_url) %>
			<% else %>
				<%= image_tag "http://placehold.it/80x80&text=No Image" %>
			<% end %>
		</div>
	
		<div class="large-8 columns">
			<div class="show_evento">
				<strong><%= link_to evento.nome, evento %></strong>
				<p><%= evento.cidade.nome %> - <%= evento.estado.nome %></p>
			</div>
		</div>
		<hr/>
	<% end %>
<% end %>
</div>