<h3><%= @evento.nome %></h3>
<div class="large-12 columns">
	<div class="panel callout radius">
		<strong>Cidade:</strong> <%= @evento.cidade.nome %> - <%= @evento.estado.sigla %>
		</br>
		</br>
		<% if @evento.data_terminio.nil? %>
			<strong>Data:</strong> <%= @evento.data.strftime("%d/%m/%Y") %>
		<% else %>
		<strong>Data:</strong> <%= @evento.data.strftime("%d/%m/%Y") %> <strong>até</strong> <%= @evento.data_terminio.strftime("%d/%m/%Y") %>
		<% end %>
		</br>
		</br>
	  <strong>Email para contato:</strong>
	  <%= @evento.email_para_contato %>
		</br>
		</br>
	  <strong>Site:</strong>
	  <%= @evento.site %>
		</br>
		</br>
	  <strong>Facebook:</strong>
	  <%= @evento.facebook %>
	</div>
</div>

<div class="large-12 columns">
		<p><%= @evento.descricao %></p>
</div>

<div class="large-12 columns">
	<div class="panel clearfix">
		<h5>Confirmados: </h5>
		<% if @evento.confirmas.empty? %>
			<small>Seja o primeiro a confirmar</small>
		<% else %>
			<% @evento.confirmas.each do |f| %>
				<%= image_tag f.user.facebook_imagem_url, "data-tooltip" => "" ,class: "has-tip", title: f.user.name %>
			<% end %>
		<% end %>
		<hr/>
		<% if @evento.usuario_aprovado?(current_user)%>
				<%= link_to "Confirmar", {controller: :eventos, action: :confirma_presenca_evento, id: @evento }, method: :post %>
		<% end %>
	</div>
</div>