<h3><%= @evento.nome %></h3>
<div class="large-12 columns">
	<div class="panel callout radius">
		<strong>Cidade:</strong> <%= @evento.cidade.nome %> - <%= @evento.estado.sigla %>
		</br>
		</br>
		<% if @evento.data_terminio.nil? %>
			<strong>Data:</strong> <%= @evento.data.strftime("%d/%m/%Y") %>
		<% else %>
		<strong>Data:</strong> <%= @evento.data.strftime("%d/%m/%Y") %> <strong>até</strong> <%= @evento.data_terminio.strftime("%d/%m/%Y") %>
		<% end %>
		</br>
		</br>
	  <strong>Email para contato:</strong>
		<%= mail_to @evento.email_para_contato %>
		</br>
		</br>
	  <strong>Site:</strong>
	  <%= link_to @evento.site, url_with_protocol(@evento.facebook), target: "_blank" %>
		</br>
		</br>
	  <strong>Facebook:</strong>
	  <%= link_to @evento.facebook, url_with_protocol(@evento.facebook), target: "_blank" %>
	</div>
</div>

<div class="large-12 columns">
	<div class="descricao">
		<p><%= @evento.descricao %></p>
	</div>
</div>

<div class="share_button right">
	<div class="fb-share-button" data-href="<%= request.original_url %>" data-type="button"></div>
</div>

<div class="large-12 columns">
	<div class="panel clearfix">
		<h5>Confirmados: </h5>
		<% if @evento.confirmas.empty? %>
			<small>Seja o primeiro a confirmar</small>
		<% else %>
			<% @evento.confirmas.each do |f| %>
				<%= image_tag f.user.facebook_imagem_url, "data-tooltip" => "" ,class: "has-tip", title: f.user.name %>
			<% end %>
		<% end %>
		<hr/>
		<% if @evento.usuario_aprovado?(current_user)%>
				<%= link_to "Confirmar", {controller: :eventos, action: :confirma_presenca_evento, id: @evento }, method: :post %>
		<% end %>
	</div>
</div>

<div class="large-12 columns">
	<h5>Comentários</h5>
	<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="5" data-colorscheme="light"></div>
</div>