<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">
            Novo Evento
          </h3>

          <div class="box-body pad">
            <%= form_for(@event, :html => { :role => "form" }) do |f| %>
              <% if @event.errors.any? %>
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                  <h4><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h4>

                  <ul>
                  <% @event.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

            <div class="form-group">
              <%= f.label "Nome" %>
              <%= f.text_field :name, :class => "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label "Descrição" %>
              <%= f.text_area :description, :class => "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label "Quando começa?" %>
              <input type="text" name="event[start_date]" id="event_start_date" readonly class="form_start_date form-control">
            </div>

            <div class="form-group">
              <%= f.label "Quando termina?" %>
              <input type="text" name="event[end_date]" id="event_end_date" readonly class="form_end_date form-control">
            </div>

            <div class="form-group">
              <%= f.submit 'Criar', data: { disable_with: 'Criando...' }, :class => "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
